@using EntityLayer.Concrete
@model List<Meal>


@{
    ViewData["Title"] = "CategoryDetails";
    Layout = "~/Views/Shared/_MenuLayout.cshtml";
}

<section class="category-menu" id="breakfest">
    <div class="category-list">
        <div class="row">
            @foreach(var item in Model){
            <div class="col-lg-4 col-md-6 col-6">
                <div class="item d-flex justify-content-start align-items-start flex-column mb-4" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    <div class="img-wrapper">
                        <img src="~/MealPictures/@item.MealPicture" class="img-fluid" alt="">
                    </div>
                    <div class="detail">
                        <h5>@item.MealName</h5>
                        <span class="price">@item.MealPrice TL</span>
                    </div>
                </div>

            </div>
            }
        </div>
    </div>
</section>

<div class="modal fade" id="exampleModal" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <i class="fa-solid fa-xmark close-modal" data-bs-dismiss="modal" aria-label="Close"></i>
                <div class="img-area">
                    <img class="card-img-top" src="./img/iced-latte-coffee-morning-breakfast-concept.jpg" alt="Card image cap">
                </div>
                <div class="name-price-area d-flex justify-content-between align-items-start">
                    <h4>
                        Atom
                    </h4>
                    <span class="price">60.00 TL</span>
                </div>
                <div class="description">
                    <p>
                        (Dil peyniri, bal, yumurta, çilek, kayısı, muz, ceviz, kuru üzüm, taze nane
                        mısır gevreği, yoğurt) (Alerjen: Gluten, süt ve ürünleri)
                    </p>
                </div>

            </div>
            <!--        <div class="modal-footer">
                <button type="button" class="btn w-100" data-bs-dismiss="modal">KAPAT</button>
            </div> -->
        </div>
    </div>
</div>
