@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Indie+Flower&family=Lobster&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300&family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Indie+Flower&family=Lobster&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300&family=Pacifico&family=Yeseva+One&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--color-black);
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.125rem;
  position: relative;
}

body.active-background {
  background-color: var(--color-gray) !important;
}

ul {
  margin-bottom: 0;
}

ul li {
  list-style-type: none;
}

ul li a {
  color: var(--color-black) !important;
}

.pasive {
  display: none !important;
}

.active {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.toggle-view-galery {
  display: none;
  cursor: pointer;
}

.toggle-view {
  cursor: pointer;
}

a {
  text-decoration: none;
  cursor: pointer;
}

:root {
  --color-black: #000;
  --color-gray: #b7babb;
  --color-white: #fff;
  --cream-color: #fff8f1;
  --color-red: #a30219;
  --color-light-red: #c50606;
  --color-orange: #ee753e;
}

.btn-check:focus + .btn,
.btn:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

#back-to-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--color-black);
  width: 2.5rem;
  height: 2.5rem;
  text-align: center;
  border-radius: 50%;
  position: fixed;
  bottom: 30px;
  right: 30px;
  -webkit-transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}

#back-to-top::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 1.2rem;
  color: var(--color-white);
}

#back-to-top:hover {
  cursor: pointer;
  background-color: var(--color-orange);
}

#back-to-top.show {
  opacity: 1;
  visibility: visible;
}

header {
  position: -webkit-sticky;
  position: sticky;
  z-index: 999;
  top: 0;
  background-color: var(--color-white);
}

header .container-fluid {
  padding: 0;
}

header .navbar {
  -webkit-box-shadow: 0px 9px 9px -10px rgba(0, 0, 0, 0.55);
  box-shadow: 0px 9px 9px -10px rgba(0, 0, 0, 0.55);
  height: 8rem;
  padding: 0rem 1rem 0rem 1rem;
}

header .navbar .social-media a {
  margin-right: 1rem;
}

header .navbar .social-media a:last-child {
  margin-right: 0;
}

header .navbar .social-media a i {
  color: var(--color-black);
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

header .navbar .social-media a i:hover {
  color: var(--color-orange);
}

header .navbar .navbar-brand {
  margin-right: 0;
}

header .navbar .navbar-brand img {
  max-width: 10rem;
}

@media screen and (max-width: 600px) {
  header .navbar .navbar-brand img {
    max-width: 6rem;
  }
}

header .navbar .dropdown .btn {
  font-size: 1.1rem;
  font-weight: 500;
}

header .navbar .dropdown .dropdown-menu {
  min-width: 1rem;
  border-radius: 0.8rem;
  -webkit-box-shadow: 2px 4px 9px 3px rgba(0, 0, 0, 0.15);
  box-shadow: 2px 4px 9px 3px rgba(0, 0, 0, 0.15);
}

header .navbar .dropdown .dropdown-menu .dropdown-item:hover, header .navbar .dropdown .dropdown-menu .dropdown-item:active {
  background-color: var(--cream-color);
  color: var(--color-black);
}

header .navbar-form .input-group .form-control {
  border-color: var(--color-gray);
  font-size: 0.9rem;
  font-weight: 300;
  border-radius: 0;
}

header .navbar-form .input-group .form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

header .navbar-form .input-group .input-group-btn {
  position: absolute;
  right: 0;
  z-index: 9999;
}

header .navbar-form .input-group .input-group-btn:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

header .menu-list-area {
  -webkit-box-shadow: 0px 9px 9px -10px rgba(0, 0, 0, 0.55);
  box-shadow: 0px 9px 9px -10px rgba(0, 0, 0, 0.55);
  width: 100%;
  overflow-y: auto;
  padding: 1rem 1rem 1rem 0.5rem;
}

@media screen and (max-width: 600px) {
  header .menu-list-area .col-7 {
    width: 54.33333333%;
  }
}

@media screen and (max-width: 375px) {
  header .menu-list-area .col-7 {
    width: 58.33333333%;
  }
}

@media screen and (max-width: 372px) {
  header .menu-list-area .col-7 {
    width: 69.33333333%;
  }
}

header .menu-list-area .row {
  -ms-flex-wrap: inherit;
      flex-wrap: inherit;
}

header .menu-list-area .row a {
  font-size: 0.9rem;
  color: var(--color-black);
  font-weight: 500;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header .menu-list-area .row a.active::before {
  content: "";
  background-color: var(--color-black);
  height: 0.1rem;
  width: 100%;
  position: absolute;
  bottom: -0.5rem;
}

.boxes {
  padding: 2rem 0rem;
}

.boxes .card {
  border: none;
  -webkit-box-shadow: 10px 10px 43px -19px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 43px -19px rgba(0, 0, 0, 0.75);
}

.boxes .card img {
  height: 30rem;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 1200px) {
  .boxes .card img {
    height: 20rem;
  }
}

@media screen and (max-width: 600px) {
  .boxes .card img {
    height: 10rem;
  }
}

.boxes .card .card-body {
  border: none;
  height: 5rem;
  padding: 1rem;
}

@media screen and (max-width: 375PX) {
  .boxes .card .card-body {
    height: 4rem;
  }
}

.boxes .card .card-body h5 {
  padding: 1rem 0rem;
  font-weight: 500;
  font-size: 1.2rem;
  color: var(--color-black);
}

@media screen and (max-width: 600px) {
  .boxes .card .card-body h5 {
    font-size: 1rem;
    padding: 0rem;
  }
}

@media screen and (max-width: 375PX) {
  .boxes .card .card-body h5 {
    font-size: 0.9rem;
  }
}

.category-menu .category-title-area {
  background-color: var(--color-gray);
  padding: 1.5rem 1rem;
  -webkit-box-shadow: 0px 9px 9px -10px rgba(0, 0, 0, 0.55);
  box-shadow: 0px 9px 9px -10px rgba(0, 0, 0, 0.55);
  margin: 0rem 0rem 2rem 0rem;
}

.category-menu .category-title-area h2 {
  font-weight: 500;
  font-size: 1.3rem;
  margin-bottom: 0rem;
}

@media screen and (max-width: 600px) {
  .category-menu .category-title-area h2 {
    font-size: 1rem;
  }
}

@media screen and (max-width: 375px) {
  .category-menu .category-title-area h2 {
    font-size: 1rem;
  }
}

.category-menu .category-list {
  padding: 1rem 1rem 0rem 1rem;
}

.category-menu .category-list .item {
  border: 1px solid #8485855b;
  -webkit-box-shadow: 0px 9px 9px -10px rgba(0, 0, 0, 0.55);
  box-shadow: 0px 9px 9px -10px rgba(0, 0, 0, 0.55);
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.category-menu .category-list .item .img-wrapper {
  width: 100%;
}

.category-menu .category-list .item .img-wrapper img {
  width: 100%;
  height: 30rem;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 1200px) {
  .category-menu .category-list .item .img-wrapper img {
    height: 20rem;
  }
}

@media screen and (max-width: 600px) {
  .category-menu .category-list .item .img-wrapper img {
    height: 10rem;
  }
}

.category-menu .category-list .item .detail {
  padding: 1rem;
}

.category-menu .category-list .item .detail h5 {
  color: var(--color-black);
  font-weight: 500;
}

@media screen and (max-width: 600px) {
  .category-menu .category-list .item .detail h5 {
    font-size: 0.9rem;
  }
}

.category-menu .category-list .item .detail .price {
  font-size: 0.8rem;
  font-weight: 300;
  color: var(--color-black);
}

.menus {
  overflow: hidden;
  -webkit-box-shadow: 0px 9px 9px -10px rgba(0, 0, 0, 0.55);
  box-shadow: 0px 9px 9px -10px rgba(0, 0, 0, 0.55);
}

.menus .container-fluid {
  padding: 0;
}

.menus .slider-area .swiper {
  width: 100%;
  height: 100%;
}

.menus .slider-area .swiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.menus .slider-area .swiper .swiper-slide img {
  display: block;
  width: 100%;
  height: 15rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.menus .menu-title-area {
  background-color: var(--cream-color);
  height: 12rem;
  padding: 0rem 0rem 2rem 4rem;
  -webkit-box-shadow: 0px 9px 9px -10px rgba(0, 0, 0, 0.55);
  box-shadow: 0px 9px 9px -10px rgba(0, 0, 0, 0.55);
}

@media screen and (max-width: 600px) {
  .menus .menu-title-area {
    height: 7rem;
    padding: 0rem 0rem 1rem 1rem;
  }
}

.menus .menu-title-area h1 {
  font-weight: 400;
  font-size: 1.5rem;
}

@media screen and (max-width: 600px) {
  .menus .menu-title-area h1 {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 375px) {
  .menus .menu-title-area h1 {
    font-size: 1rem;
  }
}

.menus .list-view-area {
  padding: 1rem 0;
}

.menus .list-view-area h3 {
  font-weight: 600;
  font-size: 1rem;
  margin-bottom: 0;
  letter-spacing: 0.1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 600px) {
  .menus .list-view-area h3 {
    font-size: 0.8rem;
  }
}

.menus .list-view-area h3 i {
  margin-left: 0.5rem;
}

.menus .box-item {
  margin-bottom: 1rem;
}

.menus .box-item .toggle-area {
  background-color: var(--color-orange);
  height: 13rem;
  position: relative;
  cursor: pointer;
  /*    .text-area {
                position: relative;
                display: block;
                border: none;
                &::after {
                    content: "";
                    display: block;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    right: 0;
                    width: 32px;
                    background-color: var(--color-white);
                    -webkit-transform: skewX(-20deg);
                    transform: skewX(-20deg);
                }
                &::before {
                    content: "";
                    display: block;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    right: 0;
                    width: 32px;
                    background-color: var(--color-white);
                    -webkit-transform: skewX(200deg);
                    transform: skewX(200deg);
                }
            } */
}

@media screen and (max-width: 600px) {
  .menus .box-item .toggle-area {
    height: 11rem;
  }
}

.menus .box-item .toggle-area::before {
  content: "";
  width: 100%;
  height: 100%;
  background: black;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.321429)), color-stop(35%, rgba(0, 0, 0, 0.13209)), to(rgba(0, 0, 0, 0.299451)));
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.321429) 0%, rgba(0, 0, 0, 0.13209) 35%, rgba(0, 0, 0, 0.299451) 100%);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.menus .box-item .toggle-area .info-area {
  z-index: 99;
  padding-bottom: 1.5rem;
  padding-right: 1rem;
}

.menus .box-item .toggle-area .info-area span {
  color: var(--color-white);
  z-index: 99;
  font-weight: 500;
  letter-spacing: 0.2rem;
  font-size: 2rem;
  margin-right: 4rem;
  font-family: "Yeseva One", cursive;
}

@media screen and (max-width: 600px) {
  .menus .box-item .toggle-area .info-area span {
    font-size: 1.4rem;
    margin-right: 2rem;
  }
}

@media screen and (max-width: 375px) {
  .menus .box-item .toggle-area .info-area span {
    font-size: 1rem;
    margin-right: 1rem;
  }
}

.menus .box-item .toggle-area .info-area i {
  color: var(--color-white);
  font-size: 2.3rem;
}

.menus .box-item .toggle-area .info-area i.show-box {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

@media screen and (max-width: 600px) {
  .menus .box-item .toggle-area .info-area i {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 375px) {
  .menus .box-item .toggle-area .info-area i {
    font-size: 1rem;
  }
}

.menus .box-item .content .list-view {
  padding: 2rem;
}

.menus .box-item .content .list-view .card-body {
  height: 12rem;
}

@media screen and (max-width: 600px) {
  .menus .box-item .content .list-view {
    padding: 2rem 1rem;
  }
}

.menus .box-item .content .galery-view .card {
  border-bottom: 1px solid var(--color-black);
  border-radius: 0;
  padding: 1rem;
}

.menus .box-item .content .galery-view .card .card-title {
  font-size: 1.1rem;
}

.menus .box-item .content .card {
  border: 0;
}

.menus .box-item .content .card .card-img-top {
  height: 30rem;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 600px) {
  .menus .box-item .content .card .card-img-top {
    height: 10rem;
  }
}

.menus .box-item .content .card .card-body {
  padding: 1rem 0rem;
}

@media screen and (max-width: 600px) {
  .menus .box-item .content .card .card-body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 600px) {
  .menus .box-item .content .card .card-body .price-and-detail {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 0.6rem;
  }
}

.menus .box-item .content .card .card-body .price {
  display: block;
  margin-right: 2rem;
  font-size: 1.2rem;
  font-weight: 400;
}

@media screen and (max-width: 600px) {
  .menus .box-item .content .card .card-body .price {
    font-size: 1rem;
  }
}

.menus .box-item .content .card .card-body .card-title {
  color: var(--color-black);
  font-weight: 400;
  font-size: 1.3rem;
}

@media screen and (max-width: 600px) {
  .menus .box-item .content .card .card-body .card-title {
    font-size: 1.1rem;
  }
}

.menus .box-item .content .card .card-body .card-text {
  font-size: 1rem;
  font-weight: 300;
}

.menus .box-item .content .card .card-body .btn {
  border: 3px solid var(--color-orange);
  padding: 0.5rem 0.7rem;
  color: var(--color-orange);
  font-weight: 500;
  font-size: 0.8rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.menus .box-item .content .card .card-body .btn:hover {
  background-color: var(--color-orange);
  color: var(--color-white);
}

@media screen and (max-width: 600px) {
  .menus .box-item .content .card .card-body .btn {
    padding: 0.4rem 0.5rem;
    font-size: 0.7rem;
  }
}

.modal {
  z-index: 9999999999999;
  background: rgba(34, 34, 34, 0.15);
}

.modal .modal-dialog {
  min-width: 700px;
}

@media screen and (max-width: 600px) {
  .modal .modal-dialog {
    min-width: auto;
  }
}

.modal .modal-dialog .modal-content {
  margin: 1rem;
}

.modal .modal-dialog .modal-content .modal-body {
  padding: 0rem;
}

.modal .modal-dialog .modal-content .modal-body .close-modal {
  right: 1rem;
  top: 1rem;
  position: absolute;
  font-size: 1.3rem;
  z-index: 999999999;
  background-color: rgba(0, 0, 0, 0.233);
  padding: 0.7rem;
  color: var(--color-white);
  cursor: pointer;
}

.modal .modal-dialog .modal-content .modal-body .img-area {
  position: relative;
  -webkit-box-shadow: 0px 9px 9px -10px rgba(0, 0, 0, 0.55);
  box-shadow: 0px 9px 9px -10px rgba(0, 0, 0, 0.55);
}

.modal .modal-dialog .modal-content .modal-body .img-area::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  opacity: 0.97;
  background-color: transparent;
  background-image: -webkit-gradient(linear, left top, left bottom, from(linear), color-stop(top, left), color-stop(bottom, left), color-stop(from(rgba(0, 0, 0, 0))), to(to(rgba(0, 0, 0, 0.349))));
  background-image: linear-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.349)));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='rgba(0, 0, 0, 0)',endColorStr='#000');
}

.modal .modal-dialog .modal-content .modal-body .img-area img {
  border-radius: 0;
}

.modal .modal-dialog .modal-content .modal-body .name-price-area {
  padding: 2rem 2.5rem;
  background-color: var(--cream-color);
}

.modal .modal-dialog .modal-content .modal-body .name-price-area .price {
  font-weight: 600;
}

.modal .modal-dialog .modal-content .modal-body .description {
  padding: 2rem 2.5rem;
}

.modal .modal-dialog .modal-content .modal-body .description p {
  font-size: 1rem;
  font-weight: 300;
}

.modal .modal-dialog .modal-content .modal-footer > * {
  margin: 0;
}

.modal .modal-dialog .modal-content .modal-footer {
  padding: 0;
  margin: 0;
}

.modal .modal-dialog .modal-content .modal-footer .btn {
  color: var(--color-orange);
  font-size: 1.3rem;
  border: 3px solid var(--color-orange);
  border-radius: 0;
}

footer {
  background-color: var(--color-gray);
  -webkit-box-shadow: 0px 9px 9px -10px rgba(0, 0, 0, 0.55);
  box-shadow: 0px 9px 9px -10px rgba(0, 0, 0, 0.55);
  padding: 1rem;
}

footer .top-footer {
  padding: 2rem 0rem 4rem 0rem;
}

footer .top-footer .menu {
  color: var(--color-black);
  font-weight: 400;
  display: block;
  margin-bottom: 3rem;
  font-size: 1.2rem;
}

@media screen and (max-width: 600px) {
  footer .top-footer .menu {
    font-size: 1rem;
  }
}

footer .top-footer .address {
  width: 100%;
  padding-left: 0rem;
}

footer .top-footer .address li {
  font-weight: 400;
}

footer .top-footer .address li,
footer .top-footer .address a {
  font-size: 1rem;
}

footer .footer-bottom {
  border-top: 1px solid var(--color-black);
  padding-top: 2rem;
}

footer .footer-bottom a img {
  max-width: 10rem;
}

footer .footer-bottom .copyright-text {
  font-size: 1rem;
  margin-top: 0.6rem;
}

@media screen and (max-width: 600px) {
  footer .footer-bottom .copyright-text {
    font-size: 0.8rem;
  }
}
/*# sourceMappingURL=style.css.map */